html,
body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: "VT232", monospace;
  font-size: 16px;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
}

#app .game-stats {
  position: absolute;
  top: 0px;
  margin: 0 auto;
  padding: 4px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

#app .game-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 3px black;
}

#app .game-sidebar {
  width: 256px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.entry {
  display: flex;
  align-items: center;
  color: white;
}

.entry img {
  width: 50%;
  transform: scale(0.5);
}
